{% extends "base.html" %}

{% block title %}Opublikuj ofertę{% endblock %}

{% block content %}
<div class="search">
    <form class="search-form">
        <input required type="text" id="name" placeholder="Wpisz nazwę sprzętu..." class="search-item">
        <select required name="kind" id="kind" class="search-item">
          <option value="" disabled selected>Co wynajmujesz?</option>
          <option value="Excavator">Koparka</option>
          <option value="Concrete mixer">Betoniarka</option>
          <option value="Bulldozer">Buldożer</option>
          <option value="Jackhammer">Młot pneumatyczny</option>
          <option value="Drill">Wiertarka</option>
          <option value="Scaffolding">Rusztowanie</option>
          <option value="Concrete pump">Pompa do betonu</option>
          <option value="Chainsaw">Piła łańcuchowa</option>
          <option value="Angle grinder">Szlifierka kątowa</option>
        </select>
        <input required type="text" id="description" placeholder="Dodaj opis..." class="search-item">
        <button type="submit" class="btn">Opublikuj ofertę</button>
    </form>
</div>
{% endblock %}