{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="account-header">
  <span class="header-logo">RentIt</span>
  <span class="header-fill"></span>
  {% if user.is_authenticated %}
    Cześć {{ user.first_name }}!
    <a href="{% url 'manage' %}" class="btn">Twoje rezerwacje</a>
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit" class="btn">Wyloguj się</button>
    </form>
  {% else %}
    <a href="{% url 'login' %}" class="btn">Zaloguj się</a>
  {% endif %}
</div>
<div class="search">
  <form method="get" action="{% url 'offers' %}" class="search-form">
    <select required name="kind" id="kind" class="search-bar search-item">
      <option value="" disabled selected>Co chcesz wynająć?</option>
      <option value="Excavator">Excavator</option>
      <option value="Concrete mixer">Concrete mixer</option>
      <option value="Bulldozer">Bulldozer</option>
      <option value="Jackhammer">Jackhammer</option>
      <option value="Drill">Drill</option>
      <option value="Scaffolding">Scaffolding</option>
      <option value="Concrete pump">Concrete pump</option>
      <option value="Chainsaw">Chainsaw</option>
      <option value="Angle grinder">Angle grinder</option>
    </select>
    <div class="date-select search-item">
      <label for="begin">Od:</label>
      <input required type="date" id="begin" name="begin" class="date-input">
    </div>
    <div class="date-select search-item">
      <label for="end">Do:</label>
      <input required type="date" id="end" name="end" class="date-input">
    </div>
    <button type="submit" class="btn search-item">Szukaj</button>
  </form>
</div>
{% endblock %}