{% extends "base.html" %}

{% block title %}RentIt{% endblock %}

{% block content %}
<div class="search">
  <form method="get" action="{% url 'offers' %}" class="search-form">
    <select required name="kind" id="kind" class="search-bar search-item">
      <option value="" disabled selected>Co chcesz wynająć?</option>
      <option value="Excavator">Koparka</option>
      <option value="Concrete mixer">Betoniarka</option>
      <option value="Bulldozer">Buldożer</option>
      <option value="Jackhammer">Młot pneumatyczny</option>
      <option value="Drill">Wiertarka</option>
      <option value="Scaffolding">Rusztowanie</option>
      <option value="Concrete pump">Pompa do betonu</option>
      <option value="Chainsaw">Piła łańcuchowa</option>
      <option value="Angle grinder">Szlifierka kątowa</option>
    </select>
    <div class="date-select search-item">
      <label for="begin">Od:</label>
      <input required type="date" id="begin" name="begin" class="date-input">
    </div>
    <div class="date-select search-item">
      <label for="end">Do:</label>
      <input required type="date" id="end" name="end" class="date-input">
    </div>
    <button type="submit" class="btn search-item">Szukaj</button>
  </form>
</div>
{% endblock %}