{% extends "base.html" %}

{% block title %}Zarządzaj{% endblock %}

<div>
    {% block content %}
    <p class="offers-header">Your bookings:</p>
    {% if bookings %}
        <div class="offer-list">
            {% for booking in bookings %}
            <div class="offer-item">
                <div class="booking-info">
                    <p class="booking-desc">
                        {{ booking.offer.name }},
                        od {{ booking.begin | date:"Y-m-d" }} do {{ booking.end | date:"Y-m-d" }}
                    </p>
                    <p class="booking-contact">
                        Kontakt: tel. {{ booking.offer.owner.phone_number }}, mail: {{ booking.offer.owner.user.email }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>

    {% else %}
        <p>You do not have any bookings yet.</p>
    {% endif %}
</div>

{% endblock %}