{% extends "base.html" %}

{% block title %}RentIt{% endblock %}

{% block content %}
  <p class="offers-header">Oferty dla przedmiotu "{{ kind }}" od {{ begin }} do {{ end }}:</p>
  <div class="offer-list">
    {% for offer in offers %}
    <div class="offer-item">
      <div class="offer-info">
        <p class="offer-title">{{ offer.name }}</p>
        <p class="offer-description">{{ offer.description }}</p>
      </div>
      <form method="post" action="{% url 'book' offer.id %}">
        {% csrf_token %}
        <button type="submit" class="btn">Book</button>
        <input type="hidden" name="begin" value="{{ begin }}">
        <input type="hidden" name="end" value="{{ end }}">
      </form>
    </div>
    {% endfor %}
  </div>
{% endblock %}